html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Containers
-------------------------------------------------------------------------------- */

.container {
  box-sizing: border-box;
  width: 300px;
  height: 575px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  color:#e7bfbf;
  background-color: #e7bfbf;
  background-image: url('../../images/palms.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  border-radius: 30px; /* Adjust this value as desired */


  /* background-image: url('../../images/palms.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; Full viewport height to center vertically */
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between buttons */
  align-items: center;
}
/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #cab0b0;
  color: #460510;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
  background-color: #cab0b0;
  color: #460510;
  border-radius: 4px;

}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
  background-color: #cab0b0;
  color: #460510;
  border-radius: 4px;

}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #ca8484;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #4d2b2b;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #460510;
  color: #cab0b0;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 300px;
  height: 575px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  color:#e7bfbf;
  background-color: #e7bfbf;
  background-image: url('../../images/palms.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  border-radius: 30px; /* Adjust this value as desired */

}

input {
  margin: 5px;  
  /* margin and margin-bottom were 5px */
  margin-bottom: 25px;
  width: 150px;
  color:#460510;
  background-color: #e7bfbf;
}